<h2>All The Data</h2>
<div class="flex-container">
  <button mat-raised-button routerLink="/dashboard">Zurück</button>
  <button mat-raised-button (click)="showNumberOfSelectedItems()">Anzahl ausgewählter Reihen zeigen</button>
  <button mat-raised-button (click)="sendSelectedItems()">Ausgewählte Reihen senden</button>
</div>

<table class="mat-elevation-z8" mat-table matSort [dataSource]="personDataSource">
  <!-- select -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let person"> {{ person.id}} </td>
  </ng-container>

  <!-- first name -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Vorname </th>
    <td mat-cell *matCellDef="let person"> {{ person.first_name}} </td>
  </ng-container>

  <!-- last name -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Nachname </th>
    <td mat-cell *matCellDef="let person"> {{ person.last_name }} </td>
  </ng-container>

  <!-- e-Mail -->
  <ng-container matColumnDef="email">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> E-Mail </th>
    <td mat-cell *matCellDef="let person"> {{ person.email }} </td>
  </ng-container>

  <!-- Catchphrase -->
  <ng-container matColumnDef="catchphrase">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Motto </th>
    <td mat-cell *matCellDef="let person"> {{ person.catchphrase }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
           (click)="selection.toggle(row)">
  </tr>
</table>
