table {
  width: 90%;
}

.mat-column-select {
  overflow: initial;
}

.flex-container {
  width: 50%;
  margin-bottom: 1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
