<mat-sidenav-container>
  <mat-sidenav mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" role="presentation" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="/data-table" role="presentation" routerLinkActive="active">Daten</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-basic">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
